---
layout: page
title: katas
permalink: /katas/
---


{% include callout.html subject="Katas" class="blog"%}

<div class="container">
  <p>
    The thought behind Code Kata is something I originally heard of from <a href="http://codekata.pragprog.com" target="_blank"/>Dave Thomas&#8217; </a>months ago.
    The idea is like a student of martial arts, simple problems could be used to
    improve ones coding/algorithm/critical thinking. So, I have decided to start sharing what I have found on this subject.
    I hope these Code Katas help you as much as they have me.
  </p>
<ol>


  {% for kata in site.katas %}
    <div class="row">
      <a href="{{kata.url}}">
        <div class="col-lg-12">
          <h3>
            <li>
                {{ kata.title}} - <small>{{ kata.description }}</small>
            </li>
          </h3>
        </div>
      </a>
    </div>
  {% endfor %}
</ol>
</div>
