---
layout: page
title: Archive
permalink: /404.html
---
{% include callout.html subject="Lost?!?" class="blog"%}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="text-primary">404</h1>
      <h1><small>Page Not Found</small></h1>
      <p>
        The page you are looking for was moved, removed, renamed or never existed.
      </p>
      <div class="row">
        <div class="col-lg-3">
            <a type="button" href="/#" class="btn btn-primary btn-block">Home</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 post">
      <div class="post recent-post ">
              {% include recent-posts.html %}
      </div>
    </div>
  </div>


</div>
