<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="assets/img/face_Me2.jpg" class="img-circle" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Joseph solves problems</h2>
        <p class="lead">by creating web presence, developing online stores, or consulting all types of companies and
          non-profit organizations.
          In his spare time he is an avid Netflixer and constant learner of web technologies.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
