<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>My Work</h2>
                <hr class="small">
                <div class="row">
                    {% for project in site.projects %}
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <a href="{{project.url}}/index.html">
                            <div class="hovereffect">
                                <img class="img-portfolio img-responsive" src="{{project.postimg}}">
                                <div class="overlay hidden-xs hidden-sm">
                                    <h2 class="portfolios">{{project.title}}</h2>
                                    {% if project.tags %}
                                    {% for tag in project.tags %}
                                    <div class="col-lg-3 col-md-4">
                                        {% include project-tags.html %}
                                    </div>
                                    {% endfor %} {% endif %}
                                </div>
                            </div>
                            <div class="visible-xs visible-sm">
                                    <h2 class="portfolios">{{project.title}}</h2>
                                    {% if project.tags %}
                                    {% for tag in project.tags %}
                                    <div class="col-sm-4">
                                          {% include project-tags.html %}
                                    </div>
                                    {% endfor %} {% endif %}
                                </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- /.row (nested) -->
                <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
