<div class="col-md-6">
    <div class="hovereffect">
        <a href="{{ site.url }}{{ post.url }}">
          {% if post.img %}
          <img class="img-portfolio img-responsive" src="{{post.img}}">
          {% else %}
          <img class="img-portfolio img-responsive" src="img/blog/portfolio-1.jpg">
          {% endif %}
        </a>
        <div class="caption post-content overlay hidden-xs hidden-sm">
            <h1>{{ post.title | truncate: 50}}</h1>
            <p>
                {{ post.excerpt | strip_html | truncate: 75 }}
            </p>
            <p>
                {{ post.date | date: '%B %d, %Y'}}
            </p>
            <p>
              <span class="reading-time" title="Estimated read time">
                {% assign words = post.content | number_of_words %}
                {% if words < 360 %}
                  1 min
                {% else %}
                  {{ words | divided_by:180 }} mins
                {% endif %}
                to read
              </span>
            </p>
            <a href="{{ site.url }}{{ post.url }}" type="button" class="btn btn-primary pull-right"><span>Read More</span></a>
        </div>
        <div class="caption post-content visible-sm">
          <div class="row">
            <div class="col-sm-12">
              <h3>{{ post.title | truncate: 50}}
                <a href="{{ site.url }}{{ post.url }}" type="button" class="btn btn-primary pull-right">
                  Read More
                </a>
              </h3>
            <p>
                {{ post.excerpt | strip_html | truncate: 150 }}
            </p>

            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>

          </div>
        </div>
        <div class="caption post-content visible-xs">
          <div class="col-sm-12">
            <h4>{{ post.title | truncate: 50}}</h4>
          </div>
          <div class="col-sm-12 pull-right">
            <a href="{{ site.url }}{{ post.url }}" type="button" class="btn btn-primary pull-right">Read More</a>
          </div>
        </div>
    </div>
</div>
