    {% if tag=='Website Development' %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    {% if tag=='Application Development' %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    {% if tag=='Email Marketing' %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    {% if tag=='Data Visualizations' %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    {% if tag=='Print' %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-file-o fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    <br>
    {{tag}}
