<!-- jQuery -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/assets/js/custom.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5HKGTRT7PQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5HKGTRT7PQ');
</script>
