---
layout: page
title: blog
permalink: /blog/
---

{% include callout.html subject="All My Thoughts" class="blog"%}
<div class="container pagelayout">
  <section class="archive-post-list">
    <ul>
      {% for post in site.posts %}
      <div class="hidden-xs">
          {% include post-large.html %}
      </div>

      <div class="post visible-xs">
        <div class="recent-post">
          {% include post-small.html %}
        </div>
      </div>

      {% endfor %}
    </ul>
  </section>
</div>
